<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Buddy{{#if title}} - {{title}}{{/if}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{> navigation}}
    
    <main class="container">
        {{#if messages}}
            {{> flash-messages}}
        {{/if}}
        {{{body}}}
    </main>
    
    <footer class="footer">
        <p>Team ExpenseBuddy: Marc Sulsenti, Sahil Virani, Justin Synnott, Zachary Rosario</p>
        <p><a href="/about" class="footer-link">Learn More about the team</a></p>
    </footer>
    
    <script src="/js/common.js"></script>
</body>
</html>

